<html>
<head>
    <title>OAuth Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div { margin: 50px 0px 50px 0px; }
    </style>
</head>
<body>

<h1>Login to Facebook from the Messenger Bot to access relevant data for you.</h1>
<a href="/api/v1/authorize/login/facebook">Log In with Facebook</a>
</body>
</html>