<html>
<head>
    <title>OAuth Login Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div { margin: 10px 0px 10px 0px; }
    </style>
</head>
<body>

<h1>Failed</h1>
<script>
    //window.close();
</script>
</body>
</html>