<html>
<head>
    <title>OAuth Login Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div { margin: 10px 0px 10px 0px; }
    </style>
</head>
<body>

<h1>Success</h1>
    <script>
        window.close();
    </script>
</body>
</html>